<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recipify" >

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_recipify"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_recipify_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipify"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".FragmentFilter"
            android:exported="false" />
        <activity
            android:name=".recipeInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_recipe_info"
            android:theme="@style/Theme.Recipify.Fullscreen" />
        <activity android:name=".GoogleLoginActivity" />
        <activity
            android:name=".OCRMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_ocrmain"
            android:theme="@style/Theme.Recipify.Fullscreen" />
        <activity
            android:name=".self"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_self"
            android:theme="@style/Theme.Recipify.Fullscreen" />
        <activity
            android:name=".FragmentMaterial"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fragment_material"
            android:theme="@style/Theme.Recipify.Fullscreen"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".IngredientFragment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fragment_material"
            android:theme="@style/Theme.Recipify.Fullscreen"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FragmentSearch"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fragment_search"
            android:theme="@style/Theme.Recipify.Fullscreen"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".signup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.Recipify.Fullscreen" />
        <activity
            android:name=".NaviBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.Recipify.Fullscreen" />
        <activity
            android:name=".Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Recipify.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocrTest" />
    </application>

</manifest>